joblib==1.2.0
coloredlogs==15.0.1
numpy==1.25.0
pandas==2.0.2
pip==23.3
python-dateutil==2.8.2
pytz==2023.3
scikit-learn==1.2.2
scikit-fuzzy==0.4.2
scipy==1.10.1
sympy==1.12
statsmodels==0.13.5
#semopy==2.3.9      Temporarily removing semopy from requirements until pip includes the --no-deps option.
numdifftools==0.9.41
graphviz==0.20.1
setuptools==67.8.0
six==1.16.0
threadpoolctl==3.1.0
wheel==0.40.0
pytest==7.3.2
openpyxl==3.1.2
seaborn==0.12.2
#statannotations==0.5.0     Temporarily removing statannotations from requirements until pip includes the --no-deps option.
pytest-console-scripts==1.4.1
gdown==4.7.1
kneed==0.8.5
fpdf==1.7.2
detect-delimiter==0.1.1
pillow==10.0.1
tableone==0.8.0
factor_analyzer==0.4.1
matplotlib==3.7.1
networkx==3.1
yellowbrick==1.5
typer[all]
adjustText @ git+https://github.com/Phlya/adjustText@master